<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yumyumcoach.domain.auth.mapper.AccountMapper">

    <select id="findByEmail" resultType="com.yumyumcoach.domain.auth.entity.Account">
        SELECT email, username, password
        FROM accounts
        WHERE email = #{email}
    </select>

    <select id="existsByEmail" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM accounts
        WHERE email = #{email}
    </select>

    <select id="existsByUsername" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM accounts
        WHERE username = #{username}
    </select>

    <insert id="insertNewAccount">
        INSERT INTO accounts(email, username, password)
        VALUES (#{email}, #{username}, #{password})
    </insert>

    <delete id="deleteAccountByEmail">
        DELETE FROM accounts
        WHERE email = #{email}
    </delete>
    <select id="findEmailById" resultType="string">
        SELECT email
        FROM accounts
        WHERE id = #{id}
    </select>

    <select id="findIdByEmail" resultType="long">
        SELECT id
        FROM accounts
        WHERE email = #{email}
    </select>
</mapper>