spring:
  profiles:
    default: dev

---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:mysql://localhost:3306/yumyumcoach?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: ssafy
    driver-class-name: com.mysql.cj.jdbc.Driver

  mybatis:
    mapper-locations: classpath*:mapper/**/*.xml
    type-aliases-package: com.yumyumcoach.domain

server:
  port: 8080

logging:
  level:
    root: info
