<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yumyumcoach.domain.diet.mapper.DietFoodMapper">

    <!-- 식단별 음식 리스트 -->
    <select id="selectDietFoodsByDietId" parameterType="long" resultType="com.yumyumcoach.domain.diet.dto.DietFoodDto">
        SELECT
            id,
            diet_id     AS dietId,
            food_id     AS foodId,
            serve_count AS serveCount,
            order_index AS orderIndex
        FROM diet_foods
        WHERE diet_id = #{dietId}
        ORDER BY order_index
    </select>

    <!-- 식단별 음식 전체 삭제 -->
    <delete id="deleteDietFoodsByDietId" parameterType="long">
        DELETE FROM diet_foods
        WHERE diet_id = #{dietId}
    </delete>

    <!-- 식단별 음식 다중 추가 -->
    <insert id="insertDietFoods">
        INSERT INTO diet_foods (
            diet_id,
            order_index,
            food_id,
            serve_count
        )
        VALUES
        <foreach collection="items" item="item" separator=",">
            (#{dietId}, #{item.orderIndex}, #{item.foodId}, #{item.serveCount})
        </foreach>
    </insert>

</mapper>

